# Ignore terraform binaries
**/.terraform/*  # Ignore all provider binaries.
**/*.tfstate        # Ignore all files used for planning by terraform.
**/*.tfstate.*

# Ignore keys/certificates
*.key
*.crt

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
*/bin/*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
